h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 15px;
}

h2 {
    text-align: center;
}

/* BENTO -------------------------------------------*/
#bentoSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#bentoText>p {
    margin-bottom: 15px;
}

#bento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-inline: auto;
    width: 70%;
    gap: 15px;
    border: none;
    border-radius: 5px;
}

#bento>img {
    width: 100%;
    object-fit: cover;
    border: none;
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
    box-shadow: gray 0px 0px 5px;
}

#bento>img:hover {
    transform: scale(1.01);
    transition-duration: 0.4s;
    box-shadow: gray 0px 0px 8px;
}

#bento>.span2Rows {
    grid-row: 1 / 3;
    grid-column: 2 / 2;
}

/* CONTACTS -------------------------------------------*/
#contactUs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

#ourContacts>p {
    margin-bottom: 15px;
}


#sendAMessage>form {
    width: 100%;
}

#sendAMessage>form>label {
    font-size: 20px;
}

#sendAMessage>form>input {
    font-size: 20px;
    margin-bottom: 15px;
    padding: 1%;
}

#sendAMessage>form>textarea {
    font-size: 20px;
    margin: 15px 0px;
    width: 100%;
    padding: 1%;
}

#sendAMessage>form>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sendAMessage>form>div>button {
    padding: 0.5rem 2rem;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: gray;
    color: white;
}

@keyframes backAndForth {
    50% {
        transform: rotateZ(-2deg);
    }

    75% {
        transform: rotateZ(2deg);
    }
}

#sendAMessage>form>div>button:hover {
    background-color: darkslategray;
    transition-duration: 0.5s;
    animation-name: backAndForth;
    animation-duration: 0.5s;
}

/* MAP ----------------------------------------------*/
#mapSection>iframe {
    width: 100%;
}