#banner {
    position: relative;
    background: url("../assets/photos/landing-img.jpg") center/cover;
    width: 100%;
    height: 600px;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}

#banner>h1 {
    color: #FAF7F0;
    letter-spacing: 2px;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#whoWeAre {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
    color: #4A4947;
}

#whoWeAre>.textSection {
    max-width: 800px;
}

#whoWeAre>.imgSection>img:hover {
    transform: rotateZ(0.5deg);
    transition-duration: 0.5s;
}


#whatWeOffer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
    background: #B17457;
    color: #FAF7F0;
}

#whatWeOffer>.imgSection>img:hover {
    transform: rotateZ(-0.5deg);
    transition-duration: 0.5s;
}

#whoWeAre,
#whatWeOffer {
    align-items: center;
}

/* TESTIMONIALS -----------------------------------------------------------*/

@keyframes backAndForth {
    50% {
        transform: rotateZ(-2deg);
    }

    75% {
        transform: rotateZ(2deg);
    }
}

#testimonialsSection {
    color: #4A4947;
}

#testimonials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.testimonialCard {
    background-color: #4A4947;
    color: white;
    width: 100%;
    aspect-ratio: 3 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    padding: 0rem 2rem;
    box-shadow: gray 0px 5px 10px;
}

.testimonialCard:hover {
    background-color: #B17457;
    transition-duration: 0.5s;
    animation-name: backAndForth;
    animation-duration: 0.5s;
}

.testimonialCard>p {
    font-size: 20px;
    font-weight: lighter;
    font-style: italic;
}

.testimonialPerson {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.testimonialImg {
    width: 20%;
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: 50%;
    background-color: white;
    margin-right: 5%;
}

#oldMan {
    background: url("../assets/portraits/old-man.jpg") center center no-repeat;
    background-size: cover;
}

#youngWoman {
    background: url("../assets/portraits/young-woman.jpg") center center no-repeat;
    background-size: cover;
}

#youngBoy {
    background: url("../assets/portraits/young-boy.webp") center center no-repeat;
    background-size: cover;
}