#banner {
    position: relative;
    background:
        linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.4)),
        url("../assets/landing-img.jpg") center/cover;

    width: 100%;
    height: 600px;
}

#banner>h1 {
    color: white;
    letter-spacing: 2px;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#whoWeAre {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

#whoWeAre>.textSection {
    max-width: 800px;
}

#whatWeOffer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

#whoWeAre,
#whatWeOffer {
    align-items: center;
}

/* TESTIMONIALS -----------------------------------------------------------*/

@keyframes backAndForth {
    50% {
        transform: rotateZ(-2deg);
    }

    75% {
        transform: rotateZ(2deg);
    }
}

#testimonials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.testimonialCard {
    background-color: gray;
    color: white;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    padding: 20px 15px;
    box-shadow: gray 0px 5px 10px;
}

.testimonialCard:hover {
    background-color: darkslategray;
    transition-duration: 0.5s;
    animation-name: backAndForth;
    animation-duration: 0.5s;
}

.testimonialPerson {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.testimonialImg {
    width: 20%;
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: 50%;
    background-color: white;
    margin-right: 5%;
}