h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 15px;
    color: #4A4947;
}

#menuSection {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 2rem;
}

.coffeCard {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D8D2C2;
    border: none;
    border-radius: 20px;
    box-shadow: #4A4947 0px 0px 10px;
}

.coffeCard:hover {
    transform: scale(1.01);
    box-shadow: #4A4947 0px 5px 15px;
    background-color: #FAF7F0;
    transition-duration: 0.3s;
}

.coffeCard>img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.coffeCard>h2 {
    font-size: 25px;
    margin-bottom: 0;
    margin: 10px 0;
    color: #4A4947;
}

/* FORM -----------------------------------------*/
form {
    border: none;
    border-radius: 15px;
    padding: 15px;
    max-width: 500px;
    position: center;
    margin-inline: auto;
}

form>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

form>div>button {
    padding: 0.5rem 2rem;
    font-size: 22px;
    margin-top: 1rem;
    border: 2px solid #FAF7F0;
    border-radius: 5px;
    background-color: #D8D2C2;
    color: #FAF7F0;
}

@keyframes backAndForth {
    50% {
        transform: rotateZ(-2deg);
    }

    75% {
        transform: rotateZ(2deg);
    }
}

form>div>button:hover {
    border: none;
    background-color: #B17457;
    transition-duration: 0.5s;
    animation-name: backAndForth;
    animation-duration: 0.5s;
}