h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 15px;
}

#menuSection {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 2rem;
}

.coffeCard {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 20px;
    box-shadow: gray 0px 0px 10px;
}

.coffeCard:hover {
    transform: scale(1.01);
    box-shadow: gray 0px 5px 15px;
    transition-duration: 0.3s;
}

.coffeCard>img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.coffeCard>h2 {
    font-size: 25px;
    margin-bottom: 0;
    margin: 10px 0;
}

/* FORM -----------------------------------------*/
form {
    border: none;
    border-radius: 15px;
    padding: 15px;
    max-width: 500px;
    position: center;
    margin-inline: auto;
    background-color: gray;
}